[submodule "doom"]
	path = dot_emacs.d
	url = https://github.com/hlissner/doom-emacs.git
[submodule "fzf"]
	path = hack/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "rofi"]
	path = hack/rofi
	url = https://github.com/davatorium/rofi.git
[submodule "check"]
	path = hack/check
	url = https://github.com/libcheck/check.git
