#!/bin/bash -x
# http://masterminds.github.io/sprig/  template docs. 
# chezmoi  data 
{{ if eq .chezmoi.os "linux" }}

export  https_proxy=http://114.116.248.206:1091
export  http_proxy=http://114.116.248.206:1091

echo "Install and configure for Ubuntu."

export  $(grep CODENAME /etc/os-release | xargs)

sed -i  's/env_reset/env_keep = "http_proxy https_proxy ftp_proxy DISPLAY XAUTHORITY"/g' /etc/sudoers

# install pre package for emacs
install_emacs_pre () {
    sudo add-apt-repository ppa:git-core/ppa
    sudo apt update
    sudo apt-get install -y sqlite3 cargo git
    cargo install fd-find ripgrep
}

# install emacs
install_emacs () {
    sudo add-apt-repository -y ppa:kelleyk/emacs
    sudo apt-get install -y emacs27
    # forge need a ~/.authinfo.gpg file
}


chmod +x ~/.emacs.d/bin/doom
~/.emacs.d/bin/doom  sync

dpkg -l       |grep sqlite3                       || install_emacs_pre
dpkg -l       |grep emacs27                       || install_emacs

{{ end }}




