#!/bin/bash
# http://masterminds.github.io/sprig/  template docs. 
# chezmoi  data 
{{ if eq .chezmoi.os "darwin" }}

export  https_proxy=http://114.116.248.206:1091
export  http_proxy=http://114.116.248.206:1091

echo "Install preinstall package for macOS."
{{ end }}
