{{ if eq .chezmoi.os "linux" }}
#!/bin/bash
# http://masterminds.github.io/sprig/  template docs. 
# chezmoi  data 

export  https_proxy=http://114.116.248.206:1091
export  http_proxy=http://114.116.248.206:1091

echo "Install preinstall package for Linux."
exit 2

{{ end }}




